#pokedex-container {
  display: flex;
  flex-wrap: wrap;
  #pokedex-title {
    color: $primary-color;
    margin: 20px 0 0 20px;;
  }
}
#pokedex-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.loader {
  height: 50px;
  width: 50px;
  margin: 100px auto 0 auto;
  border: 20px solid $secondary-color;
  border-top: 20px solid $primary-color;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {transform: rotate(0deg)};
    100% {transform: rotate(360deg)};
  }
}

.pokemon-li {
  width: calc(100% / 5 - 40px);
  height: 300px;
  background-color: $secondary-background;
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $primary-border;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: darken($secondary-background,5%);
    .bottom {
      background: $primary-color;
      color: #fff;
      .pokemon-name {
        color: #fff;
      }
      .like-btn {
        color: #fff;
        &::before {
          content: '\f08a';
          font-family: FontAwesome;
          color: #fff;
          margin-right: 5px;
        }
      }
      .liked {
        &::before {
          content: '\f004';
          font-family: FontAwesome;
        }
        &:hover {
          &::before {
            content: '\f004';
            color: #696969;
          }
        }
      }
    }
  }
  .top {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    .pokemon-number, .pokemon-fav {
      margin: 20px;
      font-size: 1.2rem;
    }
  }
  .bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    // background: rgba(0, 0, 0, 0.1);
    height: 100px;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .pokemon-name {
      padding: 10px 20px;
      color: $secondary-text-color;
      font-size: 1.5rem;
      font-weight: normal;
      font-family: $font;
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
    .like-btn {
      color: $primary-color;
      background: none;
      display: flex;
      height: 100%;
      width: 75px;
      font-size: 1.2rem;
      padding: 0;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      .like-number {
        font-size: 1rem;
      }
      &::before {
        content: '\f08a';
        font-family: FontAwesome;
        color: $primary-color;
        margin-right: 5px;
      }
      &:hover {
        &::before {
          content: '\f004';
          font-family: FontAwesome;
          color: #fff;
          margin-right: 5px;
        }
      }
    }
    .liked {
      &::before {
        content: '\f004';
      }
      &:hover {
        &::before {
          content: '\f004';
          color: #696969;
        }
      }
    }
    .pokemon-name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
}

#load-more-btn {
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filter-options {
  // display: flex;

  #pokemon-search-bar {
    position: absolute;
    left: calc(100% / 5);
  }

  .float-right{
    float: right;
  }
  dropdown {
    position: absolute;
    height: 20px;
    display: inline-block;
    margin: 20px;
    width: calc(100% / 5 - 40px);
  }

  dropdown label, dropdown ul li{
    display: block;
    // width: 200px;
    width: 100%;
    background: #fff;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  dropdown label:hover, dropdown ul li:hover{
    background: $primary-color;
    color: white;
    cursor: pointer;
  }
  dropdown label {
    color: $primary-color;
    border: 1px solid #eee;
    border-left: 4px solid $primary-color;
    border-radius: 0 5px 0 0;
    position: relative;
    z-index: 2;
  }
  dropdown input{
    display: none;
  }
  dropdown input ~ ul{
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -20px;
    z-index: 1;
  }
  dropdown input:checked + label{
    background: $primary-color;
    color: white;
  }

  dropdown input:checked ~ ul{
    visibility: visible;
    opacity: 1;
    top: 0;
  }
  $colors: $type-normal, $type-bug, $type-dark, $type-dragon, $type-electric, $type-fairy, $type-fighting, $type-fire, $type-flying, $type-ghost, $type-grass, $type-ground, $type-ice, $type-normal, $type-poison, $type-psychic, $type-rock, $type-steel, $type-water;



  @for $i from 1 through length($colors) {
    dropdown ul li:nth-child(#{$i}) {
      border-left: 4px solid nth($colors, $i);
      &:hover {
          background: nth($colors, $i);
          color: white;
      }
    }
  }

  .animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
  }
}




@media (max-width: 1200px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 4 - 40px);
    }
  }
  .filter-options {
    dropdown {
      width: calc(100% / 4 - 40px);
    }
  }
}

@media (max-width: 1000px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 3 - 40px);
    }
  }
  .filter-options {
    dropdown {
      width: calc(100% / 3 - 40px);
    }
  }
}

@media (max-width: 750px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 2 - 40px);
    }
  }
  .filter-options {
    dropdown {
      width: calc(100% / 2 - 40px);
    }
  }
}

@media (max-width: 500px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% - 40px);
    }
  }
  .filter-options {
    dropdown {
      width: calc(100% - 40px);
    }
  }
}
