#pokedex-list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: calc(100% / 5 - 40px);
    height: 250px;
    background-color: #eee;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      .pokemon-number {
        margin: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.1);
        border-bottom-right-radius: 10px;
      }
    }
    .bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      background: rgba(0, 0, 0, 0.1);
      height: 40px;
      .like-btn {
        color: $primary-color;
        background: none;
        display: flex;
        height: 100%;
        width: 40px;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
      }
      .pokemon-name {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 4 - 40px);
    }
  }
}

@media (max-width: 1000px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 3 - 40px);
    }
  }
}

@media (max-width: 750px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% / 2 - 40px);
    }
  }
}

@media (max-width: 500px) {
  #pokedex-list {
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(100% - 40px);
    }
  }
}
