#trainerView {
  h1 {
    color: $primary-color;
    font-size: 1.5rem;
    display: inline-block;
    padding-left: 30px;
  }
}

#trainer-list {
  display: flex;
  flex-wrap: wrap;
  .user-thumbnail {
    width: calc(100% / 5 - 20px);
    height: 183px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $secondary-color;
    border-radius: 5px;
    font-family: Avenir;
    .user-image {
      height: 183px;
      width: 100%;
      margin-top: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      background: darken($secondary-background,5%);
      h3 {
        background: $primary-color;
        color: $secondary-color;
      }
    }
    h3 {
      display: flex;
      margin: 3px 0 0 0;
      padding: 1em 0;
      font-size: 1rem;
      justify-content: center;
      color: #8B8B8B;
    }
  }
}

#trainer-profile {
  margin: 0 20px;
  button {
    padding: 20px;
    background: none;
    color: $primary-color;
    display: block;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: darken($primary-color, 5%);
    }
  }
  #trainer-image {
    width: 250px;
    height: 350px;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $primary-border;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    p {
      position: relative;
      top: 345px;
      font-size: 0.8rem;
      color: $primary-color
    }
    #change-image {
      position: relative;
      top: 360px;
      right: 0px;
      padding: 10px;
      font-size: 0.8rem;
      background: $primary-color;
      color: $secondary-color;
      &:hover {
        background: darken($primary-color, 5%);
      }
    }
    #img-src-form {
      position: relative;
      top: 360px;
      right: 0px;
      button {
        padding: 10px;
        font-size: 0.8rem;
        margin-left: 5px;
        background: $primary-color;
        color: $secondary-color;
        display: inline-block;
        &:hover {
          background: darken($primary-color, 5%);
        }
      }
    }
  }
  #trainer-info {
    float: left;
    h1 {
      margin-bottom: 0;
    }
    h3 {
      margin: 0;
      font-weight: lighter;
      font-size: 0.8rem;
    }
    p {
      font-size: 1.5rem;
    }
    #change-description {
      position: relative;
      bottom: 25px;
      left: 0;
      background: $primary-color;
      color: $secondary-color;
      font-size: 0.8rem;
      padding: 5px;
    }
    #edit-profile {
      position: absolute;
      right: 15px;
      font-size: 0.8rem;
      padding: 5px;
      background: $primary-color;
      color: $secondary-color;
      &:hover {
        background: darken($primary-color, 5%);
      }
    }
    #new-description {
      position: relative;
      line-height: 2rem;
      font-size: 1.5rem;
      top: 20px;
      width: 200px;
    }
    #submit-description {
      position: relative;
      top: 25px;
      left: 155px;
      background: $primary-color;
      color: $secondary-color;
      padding: 5px;
      font-size: 0.8rem;
      &:hover {
        background: darken($primary-color, 5%);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #trainer-list {
    .user-thumbnail {
      width: calc(100% / 4 - 20px);
    }
  }
}

@media screen and (max-width: 800px) {
  #trainer-list {
    .user-thumbnail {
      width: calc(100% / 3 - 20px);
    }
  }
}

@media screen and (max-width: 600px) {
  #trainer-profile {
    #trainer-image {
      width: 200px;
      height: 280px;
    }
  }
  #trainer-list {
    .user-thumbnail {
      width: calc(100% / 2 - 20px);
    }
  }
}

@media screen and (max-width: 500px) {
  #trainer-profile {
    #trainer-image {
      width: 100px;
      height: 140px;
      p {
        top: 150px;
      }
      #change-image {
        top: 150px;
      }
      #img-src-form {
        top: 155px;
        button {
          margin-top: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #trainer-list {
    .user-thumbnail {
      width: calc(100% / 1 - 20px);
    }
  }
}
