$primary-color: #ED1851;
$secondary-color: #fff;

$primary-text-color: #000;
$secondary-text-color: #8B8B8B;

$primary-hover: #fff;

$primary-background: #F9F9F9;
$secondary-background: #fff;
$dark-background: #404040;

$primary-border: #eeeeee;
$font: Avenir;

$type-bug: #C0CD36;
$type-dark: #886554;
$type-dragon: #8979FB;
$type-electric: #FBE24C;
$type-fairy: #FAB0FD;
$type-fighting: #A75645;
$type-fire: #F65549;
$type-flying: #79A3FC;
$type-ghost: #7877D2;
$type-grass: #8DD658;
$type-ground: #E9C85E;
$type-ice: #99F1FE;
$type-normal: #BEBEB1;
$type-poison: #A85F9F;
$type-psychic: #F868B3;
$type-rock: #CCBB76;
$type-steel: #B1B1BF;
$type-water: #5BAEFC;














$type-steel: #C2C2D9;
