$primary-color: #ED1851;
$secondary-color: #fff;

$primary-text-color: #000;
$secondary-text-color: #eee;

$primary-hover: #fff;

$primary-background: #fff;
$secondary-background: #eee;
$font: Avenir;

$type-fire: red;
$type-water: blue;
$type-grass: green;
$type-poison: purple;
$type-flying: gray;
$type-bug: lightgreen;
$type-normal: gray;
$type-fairy: #fff;
$type-fighting: brown;
$type-rock: gray;
$type-ground: brown;
$type-ice: teal;
$type-psychic: purple;
$type-ghost: black;
$type-electric: yellow;
